.skillCardList {
  display: grid;
  grid-template-columns: 2fr 1fr 5fr;
  grid-template-rows: 1fr 4fr;
  gap: 10px;
  align-items: flex-start;
}

.skillCardList .title {
  grid-column: 1/3;
  grid-row: 1;
  font-family: AvenirHeavy;
  color: rgb(109, 105, 105);
  right: -15%;
  animation: 4s cubic-bezier(0, 0.1, 0.12, 0.99) 0s 1 normal forwards running
    h2animation;
  position: relative;
  font-size: 120px;
  margin: 0px;
}

.mainSkills {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10px;
}
.mainSkills div {
  font-family: AvenirHeavy;
  color: rgb(109, 105, 105);
  font-size: 28px;
  font-weight: 500;
  margin: 12px 24px;
  animation: dropIn 2s ease forwards;
  animation-delay: calc(var(--order) * 100ms);
}

@keyframes dropIn {
  0% {
    opacity: 0.1;
    transform: translateX(-300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.minorSkills {
  grid-column: 2;
  grid-row: 2;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 60px;
  animation: 4s ease 2s normal forwards 1 fadein;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.minorSkills p {
  font-family: AvenirRoman;
  font-size: 18px;
  margin: 10px 20px;
}

@keyframes h2animation {
  0% {
    opacity: 0.1;
    transform: translateX(134.3423%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.imganimation {
  margin-top: 50px;
  grid-column: 3;
  grid-row: 1/ 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
