.burak {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1 fr 1fr 1fr;
}

.page1 {
  height: 101vh;
}

.page2 {
  height: 100vh;
}

.page3 {
  margin-top: 100px;
  width: 100%;
}

.page4 {
  height: 100vh;
  width: 100%;
}
